<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="presentation">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Présentation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="etudes-et-formations">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Études et Formations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="experiences-professionnelles">
      <ion-icon name="desktop-outline"></ion-icon>
      <ion-label>Expériences professionnelles</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
