.profil-image {
    max-width: 20%;
    border-radius: 50%;
    border: #52B2BF solid 3px;
    position: absolute;
    right: 15px;
}
body{
    background: #52B2BF;
}
ion-card{
    background-color: #F5F5F5;
}